<form action="action_to_perform_after_submission" method = "POST">
    <p>Field1 <input type = "text" name = "age" /></p>
    <p>Field2 <input type = "text" name = "sex" /></p>
    <p>Field3 <input type = "text" name = "cp" /></p>

    <p>Field4 <input type = "text" name = "trtbps" /></p>
    <p>Field5 <input type = "text" name = "chol" /></p>
    <p>Field6 <input type = "text" name = "fbs" /></p>

    <p>Field7 <input type = "text" name = "restecg" /></p>
    <p>Field8 <input type = "text" name = "thalachh" /></p>
    <p>Field9 <input type = "text" name = "exng" /></p>

    <p>Field10 <input type = "text" name = "oldpeak" /></p>
    <p>Field11 <input type = "text" name = "slp" /></p>
    <p>Field12 <input type = "text" name = "caa" /></p>
    <p>Field13 <input type = "text" name = "thall" /></p>

    <p><input type = "submit" value = "submit" /></p>
</form>


