<form  method = "POST">
    <p>Age <input type = "number" name = "age" /></p>
    <p>Sex <input type = "number" name = "sex" /></p>
    <p>CP <input type = "number" name = "cp" /></p>

    <p>trtbps <input type = "number" name = "trtbps" /></p>
    <p>chol <input type = "number" name = "chol" /></p>
    <p>fbs <input type = "text" name = "fbs" /></p>

    <p>restecg <input type = "number" name = "restecg" /></p>
    <p>thalachh <input type = "number" name = "thalachh" /></p>
    <p>exng <input type = "number" name = "exng" /></p>

    <p>oldpeak <input type = "text" name = "oldpeak" /></p>
    <p>slp <input type = "number" name = "slp" /></p>
    <p>caa <input type = "number" name = "caa" /></p>
    <p>thall <input type = "number" name = "thall" /></p>

    <p><input type = "submit" value = "submit" /></p>
</form>


